body{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/d/df/3_idiots_poster.jpg/220px-3_idiots_poster.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color:brown;
}